*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #90A5FE;
  padding: 65px 0;
  background: rgba(232, 144, 254, 0.2);
}

.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1050px;
}

.header {
  background-color: #90A5FE;
  padding-top: 25px;
  padding-left: 45px;
  position: relative;
  height: 200px;
}

.header__img {
  border-radius: 50%;
  border: 20px solid #ffffff;
  position: absolute;
  top: 25px;
}

.header-info {
  left: 31%;
  position: absolute;
  top: 30%;
  border-left: 3px dashed  #ffffff;
  padding-left: 10px;
}

.header__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main {
  background-color: #ffffff;
  display: flex;
  padding-top: 120px;
}

.left {
  width: 305px;
  margin-right: 40px;
  position: relative;
}

.left::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #90A5FE;
  position: absolute;
  right: -43px;
  top: 0;
}

.left-title {
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  background-color: #E890FE;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  margin-bottom: 35px;
}

.contact {
  padding-bottom: 30px;
}

.contact-menu__item {
  padding-left: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-menu__item + .contact-menu__item {
  padding-top: 35px;
}

.contact-menu__item + .contact-menu__item::before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #90A5FE;
  position: absolute;
  left: 109px;
  bottom: 13px;
}

.contact-menu__item-img {
  padding-right: 40px;
}

.contact-menu__item-text {
  padding-left: 35px;
  position: relative;
  font-size: 16px;
}

.contact-menu__item-text::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #90A5FE;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 25%;
}

.skill {
  padding-bottom: 35px;
}

.skill-menu__item {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-menu__item + .skill-menu__item  {
  margin-top: 25px;
}

.skill-menu__item-text {
  display: block;
}

.progressbar { 
	height: 10px;
	position: relative;
	background: rgba(144, 165, 254, 0.5);
  width: 65%;
  display: block;
}
.progressbar > span {
  display: block;
  height: 100%;
  background-color: #90A5FE;
  position: relative;
  overflow: hidden;
}

.right {
  margin-left: 40px;
  width: calc(100% - 345px);
  padding-right: 40px;
}

.right-title {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.right__title-text {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #90A5FE;
  padding-left: 30px;
  padding-right: 15px;
}

.right-title::before {
  content: '';
  width: 92%;
  height: 3px;
  background-color: #90A5FE;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about, .education {
  padding-bottom: 35px;
}

.education__item-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #90A5FE;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.education__item-title::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #90A5FE;
  position: absolute;
  left: 0;
  top: 6px;
}

.education__item-info {
  display: flex;
  padding-left: 35px;
}

.education__item-date {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #90A5FE;
  width: 40%;
  position: relative;
}

.education__item-date::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #90A5FE;
  top: 0;
  right: 20px;
}